/**  
 * Style for AppFBInfi
 *
 */
 
body {background-color: yellow}

#get_friends_id {
	height : 60px;
	font-size : 30pt;
	line-height : 3;
	}


.friend_info {
    padding : 10px;
    clear: both;
    margin : 0px;
 }
 
 .profile_pic {
    width : 20%;
    float : left;
 }
 
 .friend_name {
    margin-left : 10px;
    width : 80%
    float : left;
    white-space:normal;
 }
